{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'files' %}">Files</a>
          </li>       
        </ul>
      </div>
      {% if user.is_authenticated %}
      <span class="font-weight-bold text-white mr-3">Hello, {{request.user}}</span>
      <span ><a  class=" btn btn-danger mr-2" href="{% url 'logout' %}">Logout</a></span>
      {% else %}
      <span ><a  class=" btn btn-warning mr-2" href="{% url 'login' %}">Login</a></span>
      <span ><a  class=" btn btn-info mr-2" href="{% url 'register' %}">Register</a></span>
      {% endif %}
  </nav>